*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
out/
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

# python
*.pyc
__pycache__/

# Intellij
.idea/
*.iml
*.iws
core

# Mac
.DS_Store

# Maven/sbt
log/
target/

dependency-reduced-pom.xml


# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.sbt/*/
.ivy2/cache/
.ivy2/*.lock

# Scala-IDE specific
.scala_dependencies
.worksheet

*.dat
**/main/**/*.csv

spark-warehouse/
target/
